<?php
return [
    'azure' =>
        [
            'connection' => '{{ azure_connection_string }}',
            'blobContainer' => 'bede-water'
        ],
    'storage' =>
        [
            'log' => '{{ log_directory }}',
            'zip' => '{{ log_directory }}/zip'
        ]
];
